{% load static %}
<div class="sticky top-0 z-10 flex h-16 flex-shrink-0 bg-white shadow">
    <button type="button"
            id="openMobileSidebar"
            class="border-r border-gray-200 px-4 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 lg:hidden">
        <span class="sr-only">Open sidebar</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"/>
        </svg>
    </button>
    <div class="flex flex-1 justify-between px-4">
        <div class="flex flex-1">
{#            <form class="flex w-full lg:ml-0" action="#" method="GET">#}
{#                <label for="search-field" class="sr-only">Pesquisar</label>#}
{#                <div class="relative w-full text-gray-400 focus-within:text-gray-600">#}
{#                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center">#}
{#                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">#}
{#                            <path fill-rule="evenodd"#}
{#                                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"#}
{#                                  clip-rule="evenodd"/>#}
{#                        </svg>#}
{#                    </div>#}
{#                    <input id="search-field"#}
{#                           class="block h-full w-full border-transparent py-2 pl-8 pr-3 text-gray-900 focus:border-transparent focus:outline-none focus:ring-0 focus:placeholder:text-gray-400 sm:text-sm"#}
{#                           placeholder="Pesquisar" type="search" name="search">#}
{#                </div>#}
{#            </form>#}
        </div>
        <div class="ml-4 flex items-center lg:ml-6">

            <!-- Profile dropdown -->
            <div class="relative ml-3">
                <div>
                    <button type="button"
                            class="flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
                            id="user-menu-button" aria-expanded="true" aria-haspopup="true">
                        <span class="sr-only">Open user menu</span>
                        <img class="h-8 w-8 rounded-full"
                             src="{% static 'lancamento_pautas/img/rick_sanchez_100px.png' %}"
                             alt="">
                    </button>
                </div>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div id="user-menu" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                     role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    {% if user.is_authenticated %}
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                       id="user-menu-item-0 uppercase">Olá, {{ user.username }}</a>

                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                       id="user-menu-item-1">{{ user.email }}</a>

                        <form action="{% url 'logout' %}" method="post">{% csrf_token %}
                            <button class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                               id="user-menu-item-2">Sair</button>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
